
body {
          body { background-image: url "https://images.unsplash.com/photo-1472555753081-650dbef985c5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=dimitri-iakymuk-Xa31f5nVlhA-unsplash.jpg; }
#nav-table { width: 1016px; }

#nav-td {width: 254px; text-align:center;}

p { width: 1016px; text-align:center; }
